<div class="answer">
<h1>Stupid Coaching</h1>
<div class="card">
<p><%= @question %></p>

<p>-You</p>
</div>
<div class="card card-coach">
<p><%= @response %></p>

<p>-Your Coach</p>
</div>
<%= link_to "Return to Ask", ask_path %>
</div>
