<form action="/answer">
<h1>Stupid Coaching</h1>
<h3>Ask your coach anything:</h3>
<div>
  <input id="input-text" type="text" name="question" value="<%= params[:question] %>">
  <input id="submit-btn" type="submit" value="Ask!">
  </div>
</form>
